body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    background-color: rgb(232, 238, 238);
  }
  
  .center {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  h1{
    background-color: #3e8e41;
    color: white;
    margin: 20 auto;
    padding: auto;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    width: 40%;
    margin: 10px;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .remove-btn {
    background-color: #ff0000;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    float: right;
    margin: 10px;
  }
  
  .remove-btn:hover {
    background-color: #cc0000;
  }


